@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
    font-family: 'Shojumaru', cursive;
    background-color: grey;
}
.todoDay {
    width: 50%;
    height: 100%;
    margin: 16px auto;
    background-color: navajowhite;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 16px;
    padding: 0;
}

.taskLi {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: sandybrown;
    margin: 5px auto;
    padding: 5px;
}

.inputTodo {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttonTrio {
    display: flex;
    flex-direction: row;
    font-family: 'Shojumaru', cursive;

}

.button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-right: 10px;
    background-color: darkseagreen;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Shojumaru', cursive;
}

.dayContainer {
    display: flex;
    justify-content: center;
}


.toggleButton {
    display: inline-flex;
    justify-content: center;
    width: 50%;
}

.buttonAddTodo,
.buttonRemoveTodo {
    font-size: 14px;
    height: 35px;
    border-radius: 8px;
}

.buttonAddTodo {
    background-color: forestgreen;
    width: 100%;
}

.buttonRemoveTodo {
    background-color: coral;
    width: 45px;
}

button:hover {
    background-color: gold;
}

input[type="checkbox"] {
    margin-bottom: 8px;
    width: 20px;
    height: 20px;
}


@keyframes samuraiImage{
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.samuraiImage {
    animation: samuraiImage 15s infinite;
    position: absolute;
}

